
.menu{
    background-color: black;
    color: white;  
}

.onglet{
    height: 50px;
}

.MVBC{
    text-align: left;
}

.panda{
    background-color: white;
    text-align: center;
}

.bloc{
    height: 400px;
}

.container-fluid{
    text-align: center;
}

.logoPanda{
    background-color: white;
}

.club, .volleyBall, .volleySante, .beachVolley, footer{
    color: white;
    background-color: black;
}


.noPadding {
    padding: 0 !important;
    }

.noMargin{
    margin: 0 !important;
}

.photo img{
    width: 100%;
}