/*CSS menu navigation */
.menu{
    background-color: black;
    color:white;  
    text-align: center;
    font-family: 'Oswald', sans-serif
}

.onglet{
    height: 50px;
}

.MVBC{
    text-align: left;
}

.active{
    color: black;
    background-color: white;
}

.boutton a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
    display: block;
    padding-top: 10px;
   }

/* CSS for text panda */
.panda{
    background-color: white;
    text-align: center;
}

/* CSS picture fullpage */
.photo img{
    width: 100%;
}

/* CCS body */

.bloc{
    height: 400px;
}

.bloc p, h2, h6{
    margin-left: 2rem;
    margin-right: 2rem;
}

.bloc p{
    text-align: justify;
}

.bloc header{
    margin-top: 5%;
}

.logoPanda{
    background-color: white;
}

.contact{
    text-align: center;
}

.club, .volleyBall, .volleySante, .beachVolley, footer{
    color: white;
    background-color: black;
}

.noPadding {
    padding: 0 !important;
    }

.noMargin{
    margin: 0 !important;
}

/* CSS map */
.map{
    Width: 60%;
    height: 60%;
    border: o;
}

/* CSS footer */
footer a{
    margin-top: 1%;
    display: inline-block;
}