/*CSS menu navigation */

.menu {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif
}

.onglet {
    height: 50px;
}

.MVBC {
    text-align: left;
}

.logoPanda {
    background-color: white;
}

.active {
    color: black;
    background-color: white;
}

.boutton a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.boutton a:hover {
    background-color: gray;
    color: black;
}

.boutton a {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}


/*CSS LogoDisplay - faire disparaitre le logo en mobile*/

.logoDisplay {
    display: none;
}

@media (min-width: 768px) {
    .logoDisplay {
        display: block;
    }
}


/* CSS logoEvent */

.logoEvent {
    margin-left: 25%;
    margin-top: 25%;
}


/* CCS body */

.title {
    padding-top: 15px;
}

.graybloc {
    height: 100%;
    background-color: #A8A8A8;
    color: white;
    border: solid 0.3em;
    width: auto;
    padding: 0.5em;
    border-color: white;
}

.blueBloc {
    height: 100%;
    background-color: #41D1CC;
    color: white;
    border: solid 0.3em;
    width: auto;
    padding: 0.5em;
    border-color: white;
}

.noPadding {
    padding: 0 !important;
}

.noMargin {
    margin: 0 !important;
}


/* CSS footer */

.footer {
    color: white;
    background-color: black;
    text-align: center;
}

footer a {
    margin-top: 1%;
    display: inline-block;
}